<div class="container position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
    <nav class="navbar blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 start-0 end-0 mx-4 p-0">
      <div class="container-fluid">

        <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip" title="Back to Home Page" data-bs-toggle="tooltip" data-bs-placement="bottom">
          IT Task manager
        </a>

        <div id="navigation" class="d-flex align-items-center" style="min-height: 5rem;">
          <ul class="navbar-nav w-100">
            <li class="nav-item">
              {% include "includes/search_form.html" %}
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
</div></div>
