{% extends "base.html" %}
{% block content %}
  <section>
    <div class="container border-radius-xl mt-n12 px-5 mx-auto blur shadow-blur p-3">

      <div class="row mt-3">
        <div class="col">
          <div class="d-flex align-items-center">
            <span class="h3 me-3"><i class="fa fa-bookmark-o"></i></span>
            <span class="h3 me-3">{{ task.name }}</span>
            <span class="h5">{% include "includes/task_priority.html" %}</span>
          </div>
        </div>
      </div>

      <div class="row  mt-3">
        <div class="col">
          <span class="lead h5">Task type:</span>
          <span class="lead">{{ task.task_type }}</span>
        </div>
      </div>

      <div class="row">
        <hr class="text-dark">
        <h5 class="lead h5">Description:</h5>
        <p class="lead">{{ task.description }}</p>
      </div>

      <div class="row">
        <div class="col">
          <span class="lead h5">Deadline:</span>
          <span class="lead">{{ task.deadline }}</span>
        </div>
      </div>

      <div class="row mt-5 mb-3">
        <a href="{% url 'task-hub:task-list' %}" class="lead text-primary icon-move-left">
          <i class="fas fa-arrow-left me-1"></i>
          Back to the task list
        </a>
      </div>

    </div>
  </section>

{% endblock %}