{% extends "base.html" %}
{% block content %}
  <section>
    <div class="container border-radius-xl mt-n12 px-5 mx-auto blur shadow-blur p-3">
      <h3 class="ms-3 mt-2 mb-3 text-dark"><span><i class="fas fa-stream"></i></span> Task list</h3>
      <div class="row">
        <div class="col">
          <div class="row">
            {% for task in task_list %}
              <div class="col-4 mb-3">
                <div class="card border-radius-xl blur shadow-lg">
                  <div class="card-header" style="height: 5rem;">
                    <div class="row">
                      <div class="col-lg-8 me-auto">
                        <span class="text-bold mt-0">{{ task.name }}</span>
                      </div>
                      <div class="col-lg-4 text-end m-0">
                        {% include "includes/task_priority.html" %}
                      </div>
                    </div>
                  </div>
                  <div class="card-body" style="height: 7rem;">
                    <div class="row align-items-center">
                      <p class="card-text text-muted">Status: {% if task.is_completed %}Completed{% else %}Open{% endif %}
                        <br><span>{{ task.description|truncatewords:10 }}</span>
                        <br><span><i class="fas fa-calendar"></i> {{ task.deadline }}</span>
                      </p>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="row">
                      <a href="{% url 'task-hub:task-detail' pk=task.id %}" class="text-primary text-md-end icon-move-right">
                        View details
                        <i class="fas fa-arrow-right me-1"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}