{% extends "base.html" %}

{% block content %}
  <div class="container border-radius-xl mt-n12 px-5 mx-auto blur shadow-blur p-3" style="max-width: 50rem">
    <div class="row pb-1 pt-2">
      <h4 class="h3 text-gradient text-primary p-1 mx-1">Delete {{ tasktype.name }} ? </h4>
      <p class="lead pt-3">
        This action is <strong class="text-primary">irreversible</strong>. Are you sure you want to delete this task type?
        All associated data and information will be <strong class="text-primary">permanently removed</strong>.
      </p>
    </div>
    <form action="" method="post" novalidate>
      {% csrf_token %}
      <div class="row">
        <div class="col-md-12 text-end">
          <input type="submit" value="Delete" class="btn btn-lg btn-outline-secondary">
          <a href="{% url 'task-hub:task-type-detail' pk=object.pk %}" class="btn btn-lg bg-gradient-primary text-white">Cancel</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
