{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container border-radius-xl mt-n12 px-5 mx-auto blur shadow-blur p-3">
    <div class="row my-3">
      <div class="col">
        <div class="d-flex align-items-center">
          <span class="h1 me-2">{{ user.first_name }} {{ user.last_name }} </span>
          <span class="badge p-1 border border-2 border-dark border-radius-md text-dark h6">Update profile</span>
        </div>
      </div>
    </div>

    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}

    <div class="row">
      <div class="col-md-12 text-end">
        <a href="{% url 'task-hub:worker-detail' pk=object.id %}" class="btn btn-lg btn-outline-secondary">Cancel</a>
        <input type="submit" value="Update" class="btn btn-lg bg-gradient-primary">
      </div>
    </div>

    </form>
  </div>
{% endblock %}
